VITE_SUPABASE_URL=https://ffoneiuobqrkskdhlmqq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZmb25laXVvYnFya3NrZGhsbXFxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUzMDkzODAsImV4cCI6MjA5MDg4NTM4MH0.k8_EgVvPlbggojWPvpoxd7bLAwYE_2tyeI4EoVjbXUM
